header {
    border: 1px solid #ECECEC;
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;


}
.main-nav {
    max-width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    display: flex;
    align-items: center;

    /* border: 1px solid #ECECEC; */

} 
.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    margin-right: 93px;
}
/* Ссилки навігації */
.item {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.decoration {
    color: rgb(117,117,117,1);
}
.decoration:hover {
    color: #2196F3;  
}
.email:hover {
    color: #2196F3;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav {
    display: flex;
    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;
    padding-left: 0px;
}
.item a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
}
.site-nav .item {
    display: flex;
}
/* Ссилки навігації(контакти) */
.site-navi {
    display: flex;
    padding-left: 0px;
    margin-left: 331px;
}
.link {
    align-items: center;
}
.site-navi .item {
    display: flex;
}
.site-navi .item + .item {
    margin-left: 50px;
}

    /*ГЕРОЙ*/

.banner {
    min-width: 1370px;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: #2F303A;
    text-align: center;
}
.hero {
    /* width: 696px;
    height: 120px;
    left: 452px;
    top: 280px; */
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    margin-bottom: 30px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.button {
    width: 200px;
    height: 50px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;

    background: #2196F3;
    color: #FFFFFF;
}

/*ОСОБЕННОСТИ*/

.skills {
    /* position: absolute; */
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;

    display: flex;
    justify-content: center;
}
.feature-one {
    /* position: absolute; */
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
}
.feature-two {
    /* position: absolute; */
    width: 270px;
    height: 101px;
    left: 515px;
    top: 774px;
}
.feature-three {
    /* position: absolute; */
    width: 270px;
    height: 101px;
    left: 815px;
    top: 774px;
}
.feature-four {
    /* position: absolute; */
    width: 270px;
    height: 101px;
    left: 1115px;
    top: 774px;
}
.title-skills {
    /* position: absolute; */
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    margin: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
.skills li:not(:last-child) {
    margin-right: 30px;
}
.font {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/

.what-we-doing {
    /* position: absolute; */
    width: 1170px;
    height: 386px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    left: 215px;
    top: 969px;
    padding-left: 0px;

}
.title-two {
    display: inline;
    /* position: absolute; */
    width: 376px;
    height: 42px;
    padding-left: 397px;
    top: 969px;
    margin: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.our-work {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-top: 50px;
}
.box {
    /* position: absolute; */
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    
}
.box:not(:last-child) {
    margin-right: 30px;
}

 /* НАША КОМАНДА */

.team {
    /* position: absolute; */
    min-width: 1370px;
    height: 648px;
    left: 0px;
    top: 1449px;
    padding-top: 94px;
    
    background: #F5F4FA;
}
.title-three {
    /* position: absolute; */
    display: inline;
    width: 264px;
    height: 42px;
    margin-top: 94px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 668px;
    /* left: 668px;
    top: 1543px;
    padding-left: 668px;
    margin: 0px; */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.humans {
    /* position: absolute; */
    width: 1170px;
    height: 368px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top: 1635px;
    padding-left: 0px;
    
    display: flex;
    justify-content: center;

}
.workers {
    /* position: absolute; */
    width: 270px;
    height: 368px;

    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.workers:not(:last-child) {
    margin-right: 30px;
}
.workers h3 {
    /* position: absolute;
    width: 151px;
    height: 19px;
    left: 275px;
    top: 1925px; */
    margin-top: 30px;
    margin-bottom: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.workers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}

/*FOOTER STUDIO*/


.footer{
    /* position: absolute; */
    min-width: 1370px;
    height: 252px;
    left: 0px;
    /* top: 2097px; */
    /* padding-top: 60px; */

    background: #2F303A;
}
.container-footer {
    width: 1170px;
    height: 132px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    margin-bottom: 60px;
}
.logof {
    /* position: absolute; */
    /* display: inline; */
    width: 145px;
    height: 31px;
    /* margin-left: 215px;
    margin-right: auto; */
    
}
.contacts {
    display: inline-block;
    width: 231px;
    height: 81px;
    padding-left: 0px;
    margin-top: 20px;
    /* margin-left: 215px; */

}
.contacts li {
    width: 231px;
    height: 21px;

    text-decoration: none;

}
.contacts li:not(:last-child){
    margin-bottom: 9px;
}
.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.link a {
    text-decoration: none;
}
.transparent {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active {
    color: rgb(33,150,243,1);
}
.passive {
    color: rgb(33,33,33,1);
}

/* PORTFOLIO*/

.test-container {
    /* position: absolute; */
    width: 1170px;
    height: 1360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
    /* left: 215px;
    top: 174px; */

}
.filters {
    /* position: absolute; */
    width: 611px;
    height: 54px;
    margin-bottom: 34px;
    margin-left: 280px;
    margin-right: 279px;
    padding-left: 0px;

    display: flex;
    justify-content: center;

}
.filters li:not(:last-child){
    margin-right: 8px;
}
.uppercase {
    padding: 6px 22px;
    border: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;

    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
    text-transform: capitalize;
}
.uppercase:hover { 
    color: #FFFFFF;
    background-color: #2196F3;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0px;
}
.flex-element {
    width: 370px;
    height: 404px;
    margin: 15px;
    border: 1px solid #EEEEEE
}
.flex-element h3 {
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 4px;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: #212121;
    
}
.flex-element p {
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.footer-portfolio {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    padding-top: 60px;

    background: #2F303A;
    
}

ul {
    list-style: none;
}